body {
	background-image: url('steel.jpg');
	background-size: cover;
	font-family: 'Architects Daughter', cursive;	
	width: 100%;
	margin: 20px;
}

#container {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px;
	width: 50%;
	margin: auto;
	text-align: center;
}

nav {
	text-align: center;
    width: 80%;
    margin: auto;
}

h1, h2 {
	color: #261b81;
}

h1 {
	font-size: 3em;
}

a {
	font-size: 2em;
	color: #261b81;
	padding: 10px;
	text-decoration: none;
}

a:hover {
	color: #4033ab;
}

input {
	display: block;
    margin: 10px auto 10px auto;
    padding: 5px;
    font-size: 1.5em;
    width: 40%;
	text-align: center;
	font-family: 'Josefin Slab', serif;
}

.buttons {
	padding: 5px;
	font-size: 1.25em;
	font-family: 'Josefin Slab', serif;	
	background-color: #261b81;
	color: white;
	font-weight: bold;
	padding: 10px;
	box-shadow: 2px 2px gray;
}

.buttons:hover {
	background-color: #4033ab;
}

p {
	font-size: 1.5em;
	margin: 10px;
}

span {
	font-family: 'Josefin Slab', serif;	
	font-size: 1.25em;
	display: inline-block;
	background-color: white;
	border: 1px solid gray;
	min-width: 40px;
	padding: 5px;
}

.rotate-4 {
	transform: rotate(-4deg);
}

.rotate4 {
	transform: rotate(4deg);
}

@media(max-width:890px) {
	
	input {
		font-size: 1em;
	}
}

@media(max-width:660px) {
	
	input {
		width: 80%
	}
	
	span {
		font-size: 1em;
	}
	
	p {
		font-size: 1em;
	}
}



