body {
	background-image: url('concerthall.jpg');
	background-size: cover;
	font-family: 'Kalam', cursive;
	width: 100%;
	margin: 20px;
}

#container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	width: 70%;
	margin: auto;
	text-align: center;
}

nav {
	text-align: center;
	background-color: white;
    width: 80%;
    margin: auto;
}

h1, h2 {
	color: #261b81;
}

h1 {
	font-size: 3em;
}

a {
	font-size: 2em;
	color: #261b81;
	padding: 10px;
	text-decoration: none;
}

a:hover {
	color: #2c8aff;
}

input {
	display: block;
    margin: 10px auto 10px auto;
    padding: 5px;
    font-size: 1em;
    width: 40%;
	text-align: center;
}

.buttons {
	padding: 5px;
	font-size: 1.25em;
	background-color: #261b81;
	color: white;
	font-family: 'Kalam', cursive;
}

.buttons:hover {
	background-color: #2c8aff;
}

p {
	font-size: 1.5em;
}

.enteredWord {
	color: #2c8aff;
	font-size: 1.5em;
}


